<yn-designer-component>
  <div class="toolbar-top" v-if="showSelect">
    <yn-flex justify="space-between">
      <yn-flex-item>
        <span style="padding-right: 1rem;">年度</span>
        <yn-select
          defaultValue="2022"
          style="width: 14rem"
          @change="onSelectChange"
          :allowClear="false"
          :options="selectOptions"
        >
        </yn-select>

        <!-- <span style="padding-right: 1rem;">区域</span>
        <yn-select
          defaultValue="营销中心"
          style="width: 14rem"
          @change="onSelectChangeQy"
          :allowClear="false"
          :options="selectOptionsQy"
        >
        </yn-select> -->
        <yn-button @click="excle" icon="export"> </yn-button>
        <yn-button @click="excle" icon="import"> </yn-button>
      </yn-flex-item>
    </yn-flex>
  </div>

  <div ref="tableWrapper">
    <div ref="ynHandsontable"></div>
  </div>

  <div class="page-bottom" v-if="showSaveButton">
    <yn-button type="primary" @click="onSaveClick">保存</yn-button>
  </div>
</yn-designer-component>
